# Third party python requirements of MTM-Pro and of its git dependencies (mbrl-lib fork, math-gymnasium,
# trajectory-container-tools). torch/torchvision/numpy are installed first in the Dockerfile.
pandas
scipy
pypose
omegaconf
hydra-core
hydra-joblib-launcher
joblib
optuna>=4.0,<5
# Optuna>=4 compatible fork of the hydra optuna sweeper (upstream pins optuna 2.x). Imported at launcher
# startup (journal-aware sweeper extension) even if the released experiments use the basic sweeper.
hydra-optuna-sweeper @ git+https://github.com/dahlem/hydra.git@feature/upgrade-optuna-4.2.1#subdirectory=plugins/hydra_optuna_sweeper
hydra-experiment-sweeper
matplotlib
tqdm
deprecated
h5py
pyyaml
packaging
termcolor
tensorboard
torchmetrics
gymnasium
lightning
pytorch-lightning
imageio
rich
psutil
filelock
rosbags
